<%= link_to "Back to List", articles_path %>

<h1>Showing the selected article</h1>

<table>
	<tr>
		<th>Title:</th>
		<td><%= @article.title %></td>
	</tr>

	<tr>
		<th>Content:</th>
		<td><%= @article.content %></td>
	</tr>

</table>

<%= link_to "Edit", edit_article_path(@article) %>

<% if user_signed_in? %>

	<div id="like_button">
		<% if article_liked?(@article.id) %>
			<%= render partial: "likes/unlike_button", locals: {like: @like, article_id: @article.id} %>

		<%else%>
			<%= render partial: "likes/like_button", locals: {like: @like, article_id: @article.id} %>
		<%end%>

	</div>

<%end%>

<div id="likes_count">
	<h3><%= pluralize(@article.likes.size, 'Like') %></h3>
</div>

<div id="comments-number">
	<h3><%= pluralize(@article.comments.size, 'Comment') %></h3>
</div>

<div id="comment_pane">
	<%= render partial: 'articles/comment', collection: @article.comments.reverse %>
</div>
<% if user_signed_in? %>
<h3>Post a Comment</h3>
<%= render partial: 'comments/form', locals: {article: @article, comment: @comment} %>
<%end%>
